[user]
  name = Mark Finger
  email = markfinger@gmail.com
[core]
  autocrlf = false
  safecrlf = true
  excludesfile = ~/.gitignore_global
  quotepath = false
[apply]
  whitespace = warn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # Only push branches that have been set up to track a remote branch.
  default = current
